Source: gdu
Maintainer: Daniel Milde <daniel@milde.cz>
Homepage: https://github.com/dundee/gdu
Vcs-Git: https://github.com/dundee/gdu.git
Section: Utilities
Build-Depends: debhelper (>= 9),
               dh-golang,
               golang-go,
               git

Package: gdu
Architecture: all
Standards-Version: 4.5.1
Description: pretty fast disk usage analyzer written in Go
